{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="album">
    <div class="container" style="max-width: 1820px;">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for screenshot in screenshots %}
        <div class="col">
          <div class="card border-dark">
            <a href="{{ screenshot.image.url }}" target="_blank">
              <img src="{{ screenshot.image.url }}" class="card-img-top" alt="">
            </a>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
