header {
    background: #606060;
    border-bottom: 0;
}

body {
    background: #808080;
}

.text-end {
    margin-right: 15px;
    font-family: monospace;
}

header .btn-outline-light {
    margin-left: 25px;
    font-family: monospace;
}

.nav {
    margin-left: 10%;
}

.icon {
    margin-left: 100px;
    height: 65px;
}

.icon_name {
    margin-left: 25px;
    color: white;
    font-family: 'Public Pixel', sans-serif;
}

.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.card-title {
    font-family: 'Public Pixel'
}

.card-text {
    font-family: monospace;
    font-size: 19px;
}

.card-header {
    font-family: monospace;
    font-size: 24px;
}

.central-big-btn {
    margin-top: 50px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.central-big-btn a {
    padding-bottom: 10px;
}

.central-big-btn .btn {
    width: 600px;
    height: 75px;
    font-size: 30px;
}

.img-fluid {
    max-width: 150px;
    max-height: 150px;
}