{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="card bg-transparent border-light mb-3" style="max-width: 1100px;">
  <img src="{% static 'img/home_scrn.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body text-light">
    <h5 class="card-title">PIXSOUT</h5>
    <p class="card-text" >
      Динамичный инди-2D шутер с пиксельной графикой, в котором игроку предстоит взять под контроль маленького,
      но храброго героя, и пройти через уровни набитые испытаниями и врагами.
    </p>
      <ul class="card-text">
        <li> Интенсивные сражения: Динамичные уровни с увеличивающейся сложностью, где враги появляются
          с разных сторон. </li>
        <li> Пиксельная графика: Яркий и ностальгический визуальный стиль, создающий атмосферу классических
          аркадных игр. </li>
        <li> Разнообразное оружие: Собирай и улучшай оружие, чтобы справляться с более мощными противниками. </li>
        <li> Уникальные боссы: Испытай свои навыки в битвах с боссами, каждый из которых требует уникальной
          тактики для победы. </li>
        <li> Простое управление: Интуитивно понятные элементы управления, адаптированные для сенсорных экранов,
          делают игру легкой в освоении.</li>
      </ul>
  </div>
</div>
{% endblock %}
