{% extends "base.html" %}

{% block content %}
<div class="card text-center bg-transparent border-light mb-3 text-light" style="max-width: 1100px;">
  <div class="card-header">
    Новости
  </div>
  <div class="card-body">
    <h5 class="card-text">Последняя запись:</h5>
    <p class="card-text">kaziyar: Мы релизнулись!</p>
    <a href="#" class="btn btn-outline-light">Открыть</a>
  </div>
  <div class="card-footer">
    5 days ago
  </div>
</div>
<div class="card text-center bg-transparent border-light mb-3 text-light" style="max-width: 1100px;">
  <div class="card-header">
    Техподдержка
  </div>
  <div class="card-body">
    <h5 class="card-text">Последняя запись:</h5>
    <p class="card-text">dubooooon: у меня игра вылетает на 3 уровне, когда на ящик залезаю, че делать?</p>
    <a href="#" class="btn btn-outline-light">Открыть</a>
  </div>
  <div class="card-footer">
    2 days ago
  </div>
</div>
{% endblock %}
