{% extends "base.html" %}

{% block content %}
{% for theme in forum_themes %}
<div class="card text-center bg-transparent border-light mb-3 text-light" style="max-width: 1100px;">
  <div class="card-header">
    {{ theme.title }}
  </div>
  <div class="card-body">
    <h5 class="card-text">Последняя запись:</h5>
    <p class="card-text">{{ theme.user }}: {{ theme.message }}</p>
    <a href='{{ theme.name }}' class="btn btn-outline-light">Открыть</a>
  </div>
  <div class="card-footer">
    {{ theme.time }}
  </div>
</div>
{% endfor %}
{% endblock %}
