{% extends "base.html" %}
{% load static %}

{% block content %}
{% for publication in publications %}
<div class="card mb-3 bg-transparent border-light text-light" style="max-width: 75%;">
  <div class="row g-0">
    <div class="col-md-2 d-flex justify-content-center align-items-center">
      <img src="{% static 'img/user_img.png' %}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{ publication.author }}</h5>
        <p class="card-text">{{ publication.text }}</p>
        <p class="card-text"><small class="text-body-secondary">{{ publication.time }}</small></p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<div class="card mb-3 bg-transparent border-light text-light" style="max-width: 75%;">
  <div class="row g-0">
    <form action="" method="post" class="card-body">
      {% csrf_token %}
      {% for f in form %}
      <div class="card-body">
        <p class="card-text">
          <label>{{ f.label }}</label>
          {{ f }}
        </p>
      </div>
      {% endfor %}
      <input type="submit" value="Отправить">
    </form>
  </div>
</div>
{% endblock %}
